@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        alert("jquery funciona");
    });
    
    //function mensaje() {
    //    var objeto = {
    //        mensaje: "hola objeto",
    //        miFuncion: function () {
    //            alert("funciona");
    //        }
    //    };
    //    console.log(objeto);
    //    var midocumento = document.getElementsByTagName("body")[0];
    //    var p = document.createElement("p");
    //    var texto = document.createTextNode(objeto.mensaje);
    //    p.appendChild(texto);
    //    midocumento.appendChild(p);
    //    objeto.miFuncion();


    //}
</script>
<div class="panel-body"><input class="btn-danger" id="b1" type="button" value="aceptar" onclick="mensaje()" /></div>
